#!/bin/sh
# Shell script to enable monitor mode in WLAN and start Kismet Server
# by Chilcano

if [iwconfig {{ kismet_rpi_wardriving_conf_wifinic }} | grep -q "Mode:Monitor"]; then
  # Monitor mode found, restoring
  ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} down
  iwconfig {{ kismet_rpi_wardriving_conf_wifinic }} mode Managed
  ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} up
  # Bringing monitor mode again
  ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} down
  iwconfig {{ kismet_rpi_wardriving_conf_wifinic }} mode Monitor
  #ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} up
else
  # Bringing monitor mode
  ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} down
  iwconfig {{ kismet_rpi_wardriving_conf_wifinic }} mode Monitor
  #ifconfig {{ kismet_rpi_wardriving_conf_wifinic }} up
fi

# Starting kismet_server
kismet_server
